<div class="tabbable"> <!-- Only required for left/right tabs -->
  <ul class="nav nav-tabs">
    <li class="active"><a href="#tab1" data-toggle="tab">LOCAL</a></li>
    <li><a href="#tab2" data-toggle="tab">REMOTE</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tab1">
      I found
      <span class="results-count"><%= pluralize(@results.count, 'nerd') %></span> in your area:

      <!-- @results is an array of the people that match your search and we're iterating through them -->
      <!-- user_path(result.login) links to the user profile view -->

      <%= gmaps(:markers     => { :data => @json },
                :map_options => { :auto_adjust => true,
                :id => "map" },
                :last_map    => false) %>

      <% @results.each do |result| %>
        <div class="row-fluid">
            <div class="results-img span2">
              <%= link_to image_tag(gravatar(result, 100)), user_path(result.login) %>

              <% if result.geocoded? %>
                <h6><%= result.distance_from([@current_user.latitude, @current_user.longitude]).round(1) %> miles away</h6>
              <% end %>

            </div>
            <div class="results-contact span10">
                <%= link_to result.name, user_path(result.login) %> is a great match for you! You can contact this rockstar hacker at:
                <a href="mailto:<%= result.email %>"><%= result.email %></a>
            </div>
        </div>
        <div class="row-fluid"><hr></div>
      <% end %>
      <span class = "pagination"><%= will_paginate @results %></span>

    </div>
    <div class="tab-pane" id="tab2">
      I found <span class="results-count"><%= pluralize(@remotable_results.count, 'nerd') %></span> that you can pair with remotely:

      <%= gmaps(:markers     => { :data => @json2 },
                :map_options => { :id => "second_map",
                :auto_adjust => true },
                :last_map    => true) %>

      <% @remotable_results.each do |result| %>
        <div class="row-fluid">
            <div class="results-img span2">
              <%= link_to image_tag(gravatar(result, 100)), user_path(result.login) %>

              <% if result.geocoded? %>
                <h6><%= result.distance_from([@current_user.latitude, @current_user.longitude]).round(1) %> miles away</h6>
              <% end %>

            </div>
            <div class="results-contact span10">
                <%= link_to result.name, user_path(result.login) %> is a great match for you! You can contact this rockstar hacker at:
                <a href="mailto:<%= result.email %>"><%= result.email %></a>
            </div>
        </div>
        <div class="row-fluid"><hr></div>
      <% end %>
      <span class = "pagination"><%= will_paginate @remotable_results %></span>
    </div>
  </div>
</div>