I found
<span class="results-count"><%= @results.count %></span>
token nerd in your area:

<%- @results.each do |result| %>
  <div class="row-fluid">
      <div class="results-img span2">
        <%= image_tag gravatar(result, 100) %>

        <% if result.geocoded? %>
          <h6><%= result.distance_from([@current_user.latitude, @current_user.longitude]).round(1) %> miles away</h6>
        <% end %>

      </div>
      <div class="results-contact span10">
        <%= link_to result.name, user_path(result.login) %> is a great match for you! You can contact this rockstar hacker at: 
        <a href="mailto:<%= result.email %>"><%= result.email %></a>
      </div>
  </div>
<% end %>