No one nearby is available to pair with you. However, I found
<span class="results-count"><%= pluralize(@remotable_results.count, 'nerd') %></span> that you can pair with remotely:

<%= gmaps4rails(@json2) %>
<% @remotable_results.each do |result| %>
  <div class="row-fluid">
      <div class="results-img span2">
        <%= link_to image_tag(gravatar(result, 100)), user_path(result.login) %>

        <% if result.geocoded? %>
          <h6><%= result.distance_from([@current_user.latitude, @current_user.longitude]).round(1) %> miles away</h6>
        <% end %>

      </div>
      <div class="results-contact span10">
          <%= link_to result.name, user_path(result.login) %> is a great match for you! 
          
            <%= form_tag '/send_pair_request', method: 'POST' do %>
              <% @result_email = result.email %>
              <%= hidden_field_tag :recipient, result.email %>              
              
              <%= submit_tag "Send Pair Request", class: 'btn btn-primary', 'data-disable-with' => "Sure thing!" %>

            <% end %>
          
          <!-- <a href="mailto:<%= result.email %>"><%= result.email %></a> -->
      </div>
  </div>
  <div class="row-fluid"><hr></div>
<% end %>
<span class = "pagination"><%= will_paginate @remotable_results %></span>