{{#if loggedIn}}
<div class="span8 right-column">
  <h2>Who are you?</h2>
  <hr>
  <form action="/signup" method="post" class="form-inline largeinput">
    <h2>

      I am <input type="text" name="signup[name]" value={{me.name}} placeholder="name">.<br>
      I am a
        <select name="signup[my_level]">
          {{#levels}}
            <option>{{this}}</option>
          {{/levels}}
        </select>
        <select name="signup[my_language]">
          {{#languages}}
            <option>{{this}}</option>
          {{/languages}}
        </select>

        hacker looking to find another 

        <select name="signup[pair_level]">
          {{#levels}}
            <option>{{this}}</option>
          {{/levels}}
        </select>
        <select name="signup[pair_language]">
          {{#languages}}
            <option>{{this}}</option>
          {{/languages}}
        </select>
        coder to pair program on
        <select name="signup[repo]">
          {{#repos}}
            <option>{{full_name}}</option>
          {{/repos}}
        </select>
        around 
        <input type="text" pattern="[0-9]*" name="signup[zipcode]" placeholder="zip code"> .
    </h2>
    <div class="span6 match-me-btn">
      <button class="btn btn-large btn-block btn-primary" type="submit"><h2>MATCH ME!</h2></button>
    </div>
  </form>
</div>
{{/if}}