<div class="container">
	<div class="row">
		<div class="span11 profile-container">
			<h1 id='form-header'><%= @user.name %>'s Profile</h1>
			<hr>
		  <div class="span5">
		    <h4>Repos</h4>
		    <div data-hull-widget='repos' data-hull-login='<%= @id %>'></div>
		    <!-- If you're a current user and your GitHub login name is equal to the Hull id, then you will see the delete button -->
		    	<% if @current_user && @current_user.login == @id %>
			    	<p>
				<!-- id below is when we want to switch onclick to a JS / jQuery file -->
							<%= link_to user_path(@current_user), :method => :delete, :confirm => 'Are you sure you want to delete your account?', :class => 'btn btn-small delete' do %>
								<i class="icon-trash icon-large"></i>
								Delete my account
							<% end %>

							<!-- OLD CODE:
							<a href="#" class="btn btn-small delete" id="delete-account" onclick="Hull.logout().then(function () {window.location = '/'});destroyUser(<%=@current_user.id%>)"></a>
							 -->
						</p>
			  		<% if @current_user.notify == true %>
			  		<p>
			  			<a href="#" class="btn btn-small delete" id="delete-account" onclick="setNotifyFalse(<%=@current_user.id%>)">
								<i class="icon-envelope-alt icon-large"></i>
								Turn off remote pairing notifications
							</a>
			  		</p>
			  		<% end %>
		  		<% end %>
		  </div>
		  <div class="span5">
		    <h4>Wall</h4>
		    <div data-hull-widget='comments@hull' data-hull-uid='user/<%= @id %>'></div>
		  </div>
		</div>
	</div>
</div>


