<div class="span2"></div>

<div class="span8 right-column">
  <h1 id='form-header'>Who are you?</h1>
  <hr>
  <form action="/signup" method="post" class="form-inline largeinput">
    <h2>
      <!-- I am <pre><%= @current_user.name %></pre>

      and my GitHub login is <pre><%= @current_user.login %></pre> -->
      I am a
        <select name="signup[my_level]">
          <% User::LEVELS.each do |level| %>
            <option><%= level %></option>
          <% end %> 
        </select> 
        <a href="#myModal" data-toggle="modal">
          <sup><i class="icon-question-sign"></i></sup>
        </a>
        <select name="signup[my_language]">
          <% Language.all.each do |language| %>
            <option><%= language.language %></option>
          <% end %>
        </select>

        hacker looking to find another

        <select name="signup[pair_level]">
          <% User::LEVELS.each do |level| %>
            <option><%= level %></option>
          <% end %>
        </select>
        <select name="signup[pair_language]">
          <% Language.all.each do |language| %>
            <option><%= language.language %></option>
          <% end %>
        </select>
coder to pair program with around

<% if notice.present? %>
  <span class="control-group error">
    <span class="controls">
      <input id="inputError" type="text" pattern="[0-9]*" name="signup[zipcode]" placeholder="enter 5-digit zipcode"> .
    </span>
  </span>
<% else %>
  <input type="text" pattern="[0-9]*" name="signup[zipcode]" placeholder="5-digit zip code"> .
<% end %>

    </h2>

    <div class="span6 match-me-btn">
      <button class="btn btn-large btn-block btn-primary" type="submit"><h1 id="match-text">MATCH ME, BABY!<sup>*</sup></h1></button>
    </div>
      <p class="disclaimer">* You'll be added to our database so other local coders can contact you via email as well.</p>
  </form>
</div>

<div class="span2"></div>

<!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Level Definition</h3>
  </div>
  <div class="modal-body">
    <h4>Beginner:</h4>
    <p>You finally made friends with the command line and know how to "cd" your way in and out of directories. You just finished a Codecademy track on the language you're trying to learn and know the difference between an array and a hash (or a div and a table in HTML). And you're probably learning how to commit... in Git that is!</p>

    <h4>Intermediate:</h4>
    <p>You've got a few years down your belt as a coder (probably at a VC-backed startup) and have a shipped a few apps in the heydays. And, you've upgraded to Vim, no less. Things are starting to click for you and the mumbo jumbo that once was is starting to make sense. In fact, you've successfully turned into "that guy" or “that girl”. Yes, the one that's laying down the tech mumbo jumbo spiel amongst your friends. You're opinionated, and you must be heard!</p>

    <h4>Advanced:</h4>
    <p>You've been coding since you were &#60;insert age under 14&#62;. You've contributed to lots of open source projects and teach or mentor others how to code on the side (and perhaps even wrote a book or two). You have written code that's being used by thousands of other users whether it be a Ruby Gem or jQuery plugin. When you run into a bug, you are calm and collected. "There's nothing I can't solve," you think to yourself as you type away speedily on your Dvorak keyboard.</p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>

