<!DOCTYPE html>
<html>
<head>
  <title>Find coding buddies to pair program with | CoderMatch</title>
  
  <%= csrf_meta_tags %>
  
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <%= javascript_include_tag Hull.js_url %>
  <%= javascript_include_tag "hull_components", debug: false %>

  <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
  <script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
  <%= stylesheet_link_tag    "application", :media => "all" %>


  <script type="text/javascript">
  Hull.init({ appId: '<%= Hull.app_id %>', orgUrl: '<%= Hull.org_url %>' });
  Hull.on('hull.auth.**', function() { document.location.reload(); });
  </script>
</head>
<body>
  <%= render partial: "layouts/header" %>
  <%= yield %>
  <%= render partial: "layouts/footer" %>
</body>
</html>
